body{
    background: url("https://images.pexels.com/photos/4199098/pexels-photo-4199098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat center center fixed ;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#topA{
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    color: #a51b52;


}
#aboutMe{
    text-align: center;
    margin-top: 2rem;
    padding-left: 3rem;
}
#imgFam{

    max-height: 20rem;
    max-width: 20rem;
    border: .5rem solid lightsalmon;
}
.d-block {
    max-width: 90%;
    max-height: 30rem;
    margin: .6rem auto 3rem auto;
}
#jumbimg{
    background:url("https://images.unsplash.com/photo-1522184216316-3c25379f9760?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")no-repeat center top fixed;
    text-align: center;
    position: center;
    margin-top: 3rem;

}
#contaT {
    opacity: 90%;
    border: .5rem solid lightsalmon;
}
#carousel{
    text-align:center;
    margin: 0 auto 0 auto;
}
#jumbMid {
    background-color: gainsboro;
    opacity: 95%;
    margin-top: 10rem;
    margin-bottom: 15rem;
}
#jumbBott{
    background-color: gainsboro;
    padding-bottom: 5rem;
    opacity: 95%;
}
#menu{
    font-size: 1.2rem;
    font-family: 'Pattaya', sans-serif;
    color: #a51b52;
   text-align: center;
    /*padding: 1rem 2rem 1rem 2rem;*/
    border: 2rem solid lightsalmon;
    /*max-width: 100rem;*/
    /*max-height: 100rem;*/
    /*width: 100%;*/
    /*margin: 10rem 1rem;*/
}




#order{
    font-family: 'Pattaya', sans-serif;
    color: #a51b52;
    text-align: center;
    border: 20px solid #3a7584;
    max-width: 700px;
    max-height:fit-content;
    margin: 10rem auto;
    opacity: 95%;
}


.bookends {
    position: relative;
    border-width: 5px;
    border-color: hsla(187, 57%, 41%, 0.93) transparent;
    height: 11px;
    border-style: double;
    width: 85%;
}

hr.style2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#Mbutton{
    font-size: 2rem;
    font-family: 'Pattaya', sans-serif;
    margin-top: 3rem;
    color: #a51b52;
    padding: 1rem 2rem ;
    opacity: 95%;
    border: .2rem solid lightsalmon;

}

#ThankY{
    color: #a51b52;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.3rem;

}
h2{
    font-size: 2rem;
    margin-top: .75rem;
    text-align:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #a51b52;
    font-family: 'Pattaya', sans-serif;
    border: .8rem solid lightsalmon;
    border-radius: 10px;
    background-color: #489cb1;
}
#subut{
    font-size: 1.3rem;
    color: #a51b52;
    border: .2rem solid lightsalmon;

}
#welcome{
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
    background-color: gainsboro;
    opacity: 95%;

}
#wcol{
    text-align: center;
}
#recap{
    text-align: center;
}
.g-recaptcha{
   display: inline-block;
}
img {

    width:  700px;
    height: 700px;
    object-fit: cover;
}

