body{
    background: url("https://images.pexels.com/photos/4199098/pexels-photo-4199098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat center center fixed ;
    text-align: center;
}


#topA{
    text-align: center;
    color: #a51b52;

}
p{
    text-align: center;
}
#imgFam{
    padding: 1rem;
    margin: 1rem 2rem 10rem;
    max-height: 20rem;
    max-width: 20rem;
    float:left;
}
.d-block {

    max-width: 100%;
    max-height: 35rem;
    object-fit: cover;
    margin: 0 auto 0 auto;
}

#jumbimg{
    background:url("https://images.unsplash.com/photo-1522184216316-3c25379f9760?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")no-repeat center center fixed;
    text-align: center;
}

#contaT{
    opacity: 90%;
}

#carousel{
    text-align:revert;
}

#jumbMid {
    opacity: 95%;

}
#jumbBott{
    padding: 2rem 4rem 4rem;
    opacity: 95%;
}
#menu{
    color: #a51b52;
     float: left;
     padding: 1rem 2rem 5rem;
 }

#cardThang {
    margin: 0 auto 3rem auto;
}